@import 'styles/mixins.scss';

.feedback {
  background-color: #f2f2f2;
  font-family: $font-jost;
  padding-bottom: 120px;

  @include for-desktop() {
    width: 730px;
    margin: 0 auto;
  }

  nav {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 24px;

    @include for-tablet() {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }

    @include for-desktop() {
      margin: 24px 0;
      width: 100%;
    }

    .go-back {
      background-color: transparent;
      border: none;
    }

    img {
      margin-right: 16px;
    }

    a {
      font-weight: 700;
      color: #647196;
      text-decoration: none;
    }

    .add-feedback {
      background-color: $blurple;
      width: 120px;
      height: 40px;
      background-color: $blurple !important;
    }
  }

  .request-card {
    padding-top: 28px;
    padding-bottom: 28px;

    @include for-tablet {
      margin: 16px auto;
      width: 90%;
    }

    @include for-desktop {
      width: 100%;
    }

    &-text {
      padding-top: 0;
      padding-bottom: 0;
      width: 100%;
    }

    &-title {
      margin-top: 0;
    }

    &-category {
      margin-bottom: 14px;

      @include for-tablet {
        margin-bottom: 0;
      }
    }

    &-container {
      order: 3;
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        display: flex;
        flex-direction: row;
        background-color: transparent;
        width: fit-content;
        margin-bottom: 0;
        flex-wrap: nowrap;
        i {
          color: $comment-bubble;
        }

        span {
          margin-left: 8px;
        }
      }
    }

    &-upvotes {
      flex-wrap: nowrap;
      margin-top: 0;
      margin-bottom: 0;
    }

    &__comments {
      background-color: transparent;
      margin: 0 24px 24px 25px;

      @include for-tablet() {
        order: 2;
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }

  &__container {
    background-color: $white;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    width: 90%;
    color: #647196;

    @include for-tablet() {
      width: 90%;
    }

    @include for-desktop() {
      width: 100%;
      margin-top: 24px;
    }

    h4 {
      font-size: 18px;
      font-weight: 700;
      color: #3a4374;
      margin: 0 24px;
      padding-top: 24px;
    }

    .feedback__user-info {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: end;
      display: flex;
      align-items: flex-start;

      @include for-tablet() {
        justify-content: space-between;
      }

      div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 13px;
        line-height: 19px;
        width: 83%;

        @include for-tablet() {
          font-size: 14px !important;
          line-height: 21.68px;
        }

        span:first-of-type {
          color: #3a4374;
          font-weight: 700;
        }

        span:last-of-type {
          color: #647196;
          font-weight: 400;
        }
      }
    }

    .feedback__comments {
      border-bottom: solid lightgray 1px;
      margin-left: 24px;
      margin-right: 24px;
      margin-top: 24px;
      padding-bottom: 24px;

      @include for-tablet() {
        margin-right: 32px;
        margin-left: 32px;
      }

      &:last-of-type {
        border-bottom: none;
        padding-bottom: 24px;
      }

      div:last-of-type {
        font-size: 13px;
        line-height: 18.79px;

        @include for-tablet() {
          font-size: 15px;
          line-height: 21.68px;
        }

        span {
          display: inline-block;
        }
      }
    }

    .feedback__reply {
      margin-left: 47px;
      margin-right: 24px;
      margin-top: 24px;

      @include for-tablet() {
        margin-left: 77px;
      }

      div:last-of-type {
        font-size: 13px;
        line-height: 18.79px;

        @include for-tablet() {
          font-size: 15px;
          line-height: 21.68px;
        }
      }
    }

    .reply {
      color: #4661e6;
      font-weight: 600;
      font-size: 13px;
      line-height: 19px;
      text-decoration: none;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: white;
    border-radius: 10px;
    margin: 24px auto;

    @include for-tablet() {
      width: 90%;
      margin-right: auto;
      margin-left: auto;
    }

    @include for-desktop() {
      width: 100%;
    }

    fieldset {
      border: transparent;
      margin: 24px;
      padding: 0;
      font-weight: 700;
      color: $darker-gray;

      label {
        color: #3a4374;
        font-weight: 700;
        margin-bottom: 24px;
      }

      textarea {
        font-family: $font-jost;
        background-color: #f7f8fd;
        border: transparent;
        padding: 16px;
        width: calc(100% - 32px);
        margin-top: 24px;
      }
    }

    section {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 24px;

      @include for-tablet() {
        justify-content: space-between;
        margin: 0 40px 24px 40px;
      }

      span {
        width: fit-content;
        color: #647196;
      }

      a {
        text-decoration: none;

        .add-feedback {
          width: 120px;
          height: 40px;
        }
      }
    }
  }
}

.hidden {
  display: none;
}

// article[data-component] {
//   background-color: lime;
// }
