@import 'styles/mixins.scss';

.request-card {
  background-color: $white;
  border-radius: $border-radius;
  font-family: $font-jost;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 16px auto;
  justify-content: space-between;
  width: 90%;

  @include for-tablet() {
    width: inherit;
    margin: 16px 40px;
    flex-wrap: nowrap;
  }

  @include for-desktop() {
    flex-direction: row;
    width: 100%;
    margin: 0;
  }

  a {
    order: 3;
    text-decoration: none;
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  button {
    width: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 32px;
    background-color: $gray;
    border: none;
    border-radius: $border-radius;
    font-weight: 700;
    margin: 0 40px 24px 25px;
    color: $blurple;
    order: 2;

    @include for-tablet() {
      order: 1;
      margin-left: 32px;
      margin-top: 28px;
      width: 40px;
      height: 53px;
      flex-direction: column;
    }

    @include for-desktop() {
      margin-top: 30px;
      flex-direction: column;
      order: 1;
      width: 40px;
      justify-content: center;
      height: 55px;
    }

    span {
      font-family: $font-jost;
      color: $navy;
    }

    &:disabled,
    &:active {
      background-color: $blurple;
      color: $white;

      span {
        color: $white;
      }
    }

    &:hover {
      cursor: pointer;
      background-color: $button-hover-background;
    }
  }

  &-text {
    display: flex;
    flex-direction: column;
    padding: 24px 0 16px;
    order: 1;
    margin: 0 25px;
    width: 100%;

    @include for-tablet() {
      margin-left: 0;
      order: 2;
      padding-bottom: 28px;
      width: 418.88px;
    }

    @include for-desktop() {
      order: 2;
      width: 75%;
      padding: 30px 0;
    }
  }

  &-title {
    font-weight: 700;
    color: $darker-gray;
    margin-bottom: 10px;
  }

  &-description {
    color: $dark-gray;
    margin-bottom: 10px;
  }

  &-category {
    font-weight: 600;
    padding: 5px 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $gray;
    color: $blurple;
    width: fit-content;
    height: 30px;
    border-radius: $border-radius;
    text-transform: capitalize;
  }

  &-comments {
    font-weight: 700;
    color: $navy;
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
    order: 3;
    margin-right: 25px;
    margin: 0 25px 24px;
    background-color: transparent !important;

    @include for-tablet() {
      margin: 0 25px 0;
      align-items: end;
    }

    @include for-desktop() {
      order: 3;
    }

    span {
      margin-left: 5px;
    }

    i {
      color: $comment-bubble;
    }
  }
}
