@import 'mixins.scss';

.filter {
  position: relative;
  align-items: center;
  background-color: $white;
  border-radius: $border-radius;
  display: flex;
  flex-wrap: wrap;
  font-family: $font-jost;
  height: 165px;
  justify-content: center;
  width: 250px;
  margin: 25px 0;

  @include for-tablet-portrait-up() {
    width: 223px;
    height: 178px;
    margin: 0;
  }

  @include for-desktop() {
    position: relative;
    margin: 0 0 30px 0;
  }

  div {
    display: flex;
    flex-wrap: wrap;
    height: 85%;
    width: 85%;
  }

  button {
    background-color: $mid-gray;
    border-radius: $border-radius;
    border: none;
    color: $blurple;
    font-size: 14px;
    font-weight: 600;
    height: 30px;
    line-height: 19px;
    margin-right: 10px;
    padding-left: 15px;
    padding-right: 15px;

    &:hover {
      background-color: #cfd7ff;
      color: $blurple;
      cursor: pointer;
    }
  }
}
