.filter {        
    height: 165px;
    width: 250px;
    background-color: $white;
    border-radius: $border-radius;
    display: flex;
    align-items: center;
    
    div {
        align-items: center;
        height: 85%;
        display: flex;
        flex-wrap: wrap;
        font-family: $font-jost;
    }

    input[type="radio"]{
        visibility:hidden;

        &:hover {
            cursor: pointer;
        }
    }

    input[type="radio"]:checked + label {
        background-color: $blurple;
        color: $white;
    }

    label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $mid-gray;
        border-radius: $border-radius;
        border: none;
        color: $blurple;
        font-size: 14px;
        font-weight: 600;
        height: 30px;
        line-height: 19px;
        margin-right: 10px;
        padding-left: 15px;
        padding-right: 15px;

        &:hover {
            background-color: #CFD7FF;
            color: $blurple;
            cursor: pointer;
        }
    }




}