// fonts
$font-jost: 'Jost', sans-serif;


// colors
$light-gray: #F7F8FD;
$gray: #F2F4FE;
$mid-gray: #F2F4FF;
$dark-gray: #647196;
$darker-gray: #3A4374;
$medium-gray: #979797;
$button-hover-background: #CFD7FF;
$comment-bubble: #CDD2EE;
$navy: #373F68;
$blurple: #4661E6;
$white: #FFFFFF;
$peach: #F49F85;
$violet: #AD1FEA;
$sky-blue: #62BCFA;
$whiteish: #f2f2f2;
$grey-blue: #3a4374;
$bright-blue: #4661e6;
$red: #D73737;

//styles
$border-radius: 10px;
$shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

