@import 'styles/mixins.scss';

.create-feedback {
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 24px;

  font-family: $font-jost;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__container {
    width: fit-content;
    position: relative;
  } 
  .add {
    position: absolute;
    top: 80px;
    left: 20px;
  }

  form {
    margin-top: calc(108px - 24px);
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-radius: 10px;

    @include for-desktop {
      width: 540px;
    }

    h2 {
      color: $darker-gray;
      font-size: 13px;
      margin: 0;
      line-height: 19px;
    }

    p {
      margin: 0;
      font-size: 13px;
      line-height: 19px;
      color: $dark-gray;
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 24px;
    
      &:first-of-type {
        margin-top: 24px;
      }

      &:last-of-type {
        input {
          height: 120px !important;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
        }
      }

      label {
        order: 1;
      }

      .error {
        order: 3;
      }

      .text {
        order: 2;
        margin-right: 24px;
        margin-left: 24px;
        margin-top: 16px;
        background-color: $light-gray;
        border: none;
        border-radius: 5px;
        padding-left: 24px;

        &:focus {
          border: solid 1px $bright-blue !important;
        }
      }
    }

    input {
      height: 48px
    }

    textarea {
      height: 96px;
      padding-top: 15px;
      resize: none;
    }

    h1 {
      color: $darker-gray;
      margin-top: 44px;
      margin-left: 24px;
      margin-bottom: 0;
      line-height: 26.01px;
      letter-spacing: -0.25px;
    }

    label {
      padding-left: 24px;
      padding-right: 24px;
      display: flex;
      flex-direction: column;

      span:first-of-type {
        color: $darker-gray;
        font-size: 13px;
        font-weight: 700;
        line-height: 18.79px;
        letter-spacing: -0.18px;
        margin-top: 24px;
      }

      span:nth-of-type(2) {
        color: $dark-gray;
        font-size: 13px;
        line-height: 18.79px;
      }
    }

    select {
      margin-right: 24px;
      margin-left: 24px;
    }

    .error {
      color: $red;
      padding-left: 24px;
      font-size: 14px;
      line-height: 20.23px;
      margin-top: 4px;
    }

    .error + input {
      border: solid 1px red;
    }
  }

  .go-back {
    font-size: 13px;
    font-weight: 700;
    line-height: 18.79px;
    color: $dark-gray;
    text-decoration: none;
    padding-top: 34px;

    img {
      margin-right: 14px;
    }
  }

  .dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 48px);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 24px;

    > div {
      width: 100%;
    }
  }

  .button-container {
    @include for-tablet() {
      display:flex;
      padding: 24px;
      justify-content: right;
    }

    .add-feedback {
      
      width: calc(100% - 48px);
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;

      @include for-tablet() {
        margin: 0 16px 0 0;
        height: 44px;
        width: 144px;
        order: 1;
      }
    }

    .cancel {
      background-color: $grey-blue;
      border: none;
      width: calc(100% - 48px);
      margin-left: auto;
      margin-right: auto;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: $font-jost;
      height: 40px;
      margin-top: 16px;
      margin-bottom: 24px;

      a {
        color: $gray;
        text-decoration: none;
        line-height: 18.79px;
        font-size: 13px;
        font-weight: 700;
      }

      @include for-tablet() {
        width: 93px;
        height: 44px;
        margin: 0;
        order: 2;
      }
    }
  
  }
}
